page-user-profil {

  .content {
    background: url("../assets/imgs/fond.jpg") no-repeat;
    background-size: cover;
  }
  .inner {
    padding-top: 0px;
    width: 100%;
  }
 
  .title {
    padding-top: 8px;
    display: flex;
    justify-content: center;
    .toolbar-title {
      width: auto;
    }
    .logo {
      width: 60px;
      height: 60px;
    }
    h2 {
      color: white;
      text-align: center;
      font-family: 'Montserrat';
      font-weight: 400;
      font-size: 20px
    }
  }
  .item-md {
    background-color: transparent;
    padding: 12px 16px
  }
  .item-md.item-block .item-inner {
    border-bottom: 1px solid #848484;
  }
  button.button-block {
    margin:0;
    padding: 24px;
    font-family: 'Montserrat';
    font-weight: 600;
    &.creat-account {
      margin: 0;
      font-weight: 400;
      font-size: 12px;
    }
  }
  .my-checkbox {
    color: #999;
    display: flex;
    align-items: center;
    margin: 0;
    justify-content: space-around
  }
  
  .twoItem {
    display: flex;
    padding: 12px 0;
    padding-right: 16px
  }
  .firstName{
    padding-top: 0 !important
  }
  .checkboxLabel{
    padding-left: 16px;
    color: #999;
    font-size: 16px;
    margin: 12px 0
  }
 
}
