<ion-content>
  <div ion-fixed class="inner">
    <div class="btn-group">
      <button *ngIf="changeSeance" class="seances-icons" ion-fab mini (click)="getSeanceInfo()">
          <ion-icon name="md-clipboard"></ion-icon>
      </button>
      <ion-fab right #fab >
        <button class="settings-icons" ion-fab mini>
          <ion-icon name="settings"></ion-icon>
        </button>
        <ion-fab-list>
          <button class="settings-icons" ion-fab (click)="profil(fab)">
            <ion-icon name="person"></ion-icon>
          </button>
          <button class="settings-icons" ion-fab (click)="modifyPassword(fab)">
            <ion-icon name="key"></ion-icon>
          </button>
          <button class="settings-icons" (click)="logOut(fab)" ion-fab>
            <ion-icon name="log-out"></ion-icon>
          </button>
        </ion-fab-list>
      </ion-fab>
    </div>
    <div class="homeText" showWhen="android">
      <p>Placez</p>
      <p>votre téléphone sur le socle</p>
      <p>pour {{ homeText }} une séance</p>
    </div>
    <div class="homeText" showWhen="ios">
      <p>Placez votre téléphone sur</p>
      <p>le socle puis appuyez sur SCANNER</p>
      <p>pour {{ homeText }} une séance</p>
    </div>
  </div>
</ion-content>
<ion-footer padding no-border>
  <button ion-button block large color="primary" (click)="activeNFC()" showWhen="ios" *ngIf="bleStatus == 'ready'">SCANNER</button>
  <button ion-button block color="secondary" (click)="bilan()" *ngIf="bilanButton">terminer la séance</button>
  <button ion-button block color="primary" (click)="presentContactModal()" *ngIf="changeSeance && !bilanButton">changer de séance</button>
</ion-footer>
