page-home {
  .content {
    background: url("../assets/imgs/bg-home_md.png") no-repeat;
    background-size: cover;
  }
  .scroll-content {
    display: none;
  }
  .inner {
    padding-top: 10px;
    width: 100%;
  }
  .settings-icons {
    color: #48c0ff;
    background-color: #414141;
  }
  button.button-block {
    margin: 20px 0;
    padding: 25px;
    font-family: 'Montserrat';
    font-weight: 600;
    &.creat-account {
      position: absolute;
      bottom: 0;
      margin: 0;
      font-weight: 400;
      font-size: 12px;
    }
  }
  .homeText{
    margin-top: 25%;
    padding: 15px;
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 11px;
    color: #48c0ff;
    text-transform: uppercase;
    text-align: center;
  }
p{
  margin: 0px
}
}
