page-new-password {
  .scroll-content {
    display: none;
  }
  .content {
    background: url("../assets/imgs/fond.jpg") no-repeat;
    background-size: cover;
  }
  .inner {
    padding-top: 10px;
    width: 100%;
  }
  .title {
    padding-top: 8px;
    display: flex;
    justify-content: center;
    .toolbar-title {
      width: auto;
    }
  }
  p {
    font-size: 14px;
    text-align: justify;
    font-family: 'Montserrat';
    font-weight: 400;
    color: #dadada;
    line-height: 20px;
  }
  .item-md {
    background-color: transparent;
    padding: 10px 16px;
  }
  .item-md.item-block .item-inner {
    border-bottom: 1px solid #848484;
  }
  button.button-block {
    margin: 20px 0;
    padding: 25px;
    font-family: 'Montserrat';
    font-weight: 600;
    &.creat-account {
      position: absolute;
      bottom: 0;
      margin: 0;
      font-weight: 400;
      font-size: 12px;
    }
  }
  .danger {
    color: red;
    padding-left: 16px;
    padding-right: 16px;
    font-size: 12px
  }
}
