<ion-header>
  <div class="title">
    <ion-navbar>
      <ion-title>Modifier votre mot </ion-title>
      <ion-title>de passe</ion-title>
    </ion-navbar>
  </div>
</ion-header>

<ion-content>
  <div ion-fixed class="inner">
    <form [formGroup]="newPasswordForm" (submit)="submitPassword(newPasswordForm)">
      <ion-item formControlName="MotDePasse">
        <ion-label floating>Nouveau mot de passe*</ion-label>
        <ion-input type="password"></ion-input>
      </ion-item>
      <p *ngIf="!newPasswordForm.controls.MotDePasse.valid && newPasswordForm.controls.MotDePasse.dirty" class="danger">* Le mot de passe doit contenir au moins 5 caractères, une majuscule, une minuscule et un chiffre</p>
      <ion-item formControlName="confirmPassword">
        <ion-label floating>Confirmer le mot de passe*</ion-label>
        <ion-input type="password"></ion-input>
      </ion-item>
      <p *ngIf="!newPasswordForm.valid && newPasswordForm.controls.confirmPassword.dirty" class="danger">* Le mot de passe n'est pas identique.</p>
      <div padding>
        <button ion-button block type="submit" class="btn-primary">Modifier</button>
      </div>
    </form>
  </div>
</ion-content>
