$blue-light: #409aca;
$orange-dark: rgb(255,87,21);
$green-light: #3bab5c;
$green-dark: rgb(46,142,75);
$yellow: #f1b811;
$purple-light: rgb(86,79,173);
$purple: #4b4e94;
$blue-dark: rgb(27,88,111);

$grey-light: rgb(43,43,43);
$grey-middle: rgb(75, 75, 75);
$grey-dark: rgb(37,37,37);
$grey-xlight: #9b9b9b;


$colors: (

  primary:    $blue-light,
  secondary: #eb561f, //green
  danger:     #d91e18,
  light:      #f4f4f4,
  dark:       #666,

);


