// http://ionicframework.com/docs/theming/
.alertCustomCss {
  .alert-head {
    padding: 10px
  }
  .alert-sub-title {
    font-size: 14px;
    text-align: center;
    color: #dadada;
    font-family: 'Montserrat';
  }
  .alert-title {
    padding: 10px;
    font-size: 16px;
    color: #dadada;
    text-align: center;
    font-family: 'Montserrat';
    font-weight: 600;
  }
  .alert-message {
    color: #dadada;
    text-align: center;
    padding-bottom: 5px;
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 14px
  }
  ;
  .alert-wrapper {
    width: 80%;
    max-width: none;
    border: 1px solid;
    border-color: #409aca;
    background-image: linear-gradient(60deg, #2b2b2b, #3c3c3c);
  }
  button {
    color: #48c0ff;
  }
}

.loaderCustomCss {
  .loading-wrapper {
    background: transparent;
    box-shadow: none;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .spinner-crescent circle {
    stroke-width: 4px;
  }
  ion-spinner {
    width: 60px;
    height: 60px;
  }
}

ion-header ion-icon.back-button-icon.icon {
  color: #48c0ff;
}

.back-button.show-back-button {
  position: absolute;
  z-index: 9999;
}

ion-footer {
  font-size: 12px
}

// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
.header-md::after,
  {
  display: none;
}

.toolbar-background-md {
  border: none;
  background: none;
}

.toolbar-title {
  text-align: center;
  color: #48c0ff;
  font-family: 'Montserrat';
  font-weight: 800;
  font-style: italic
}

.highcharts-credits {
  display: none;
}
